
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    &__logo {
        width: 305px;
        margin: 20px auto;
    }
    &__sections{
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }
    &__section{
        margin: 10px 10px 0px 10px;
        font-size: 20px;
        text-decoration: none;
    }
}

