.header {
  @include flex-center(column);
  @include marginVerticalCenter(20);
  background-image: url("../../assets/img/cuadros/cuadro5.jpg");

  @include adaptTo("tabletToEnd") {
    height: 200px;
  }

  &__title {
    font-family: "KleeOne", sans-serif;
    font-size: 35px;
    margin: 10px auto;
    color: white;
    @include adaptTo("tabletToEnd") {
      font-size: 80px;
    }
  }

  &__img {
    width: 70%;
    @include marginVerticalCenter(20);
    @include adaptTo("tabletToEnd") {
      width: 422px;
      height: 137px;
    }
  }

  &__sections {
    @include flex-center(row);
  }

  &__section {
    margin: 10px 10px 0px 10px;
    font-size: 25px;
    font-weight: 300;
    color: white;

    @include adaptTo("tabletToEnd") {
      font-size: 35px;
      margin: 10px 20px 0px 20px;
    }
  }
}
