$blue: #179bf6;
$footer: #e8e8e8;
$green: #0fae6c;
$gray: #d9d9d9;
$yellow: #edbd0d;
$red: #d9444d;

$primaryFont: #343a40;
$secondaryFont: #179bf6;
$tertiaryFont: #50515a;
$quaternaryFont: #a7a9bc;
$white: #ffffff;

$bgPrimary: #ffffff;
$bgSecondary: #f9f9fb;
$bgTertiary: #f4f0ec;
$bgQuaternary: #e6f1f9;
$bgQuinary: #179bf6;


$bgButtonPrimary: #179bf6;
$bgButtonHover: #0069d9;


$borderColor: #343a40;


$good: #0fae6c;
$ok: #edbd0d;
$bad: #d9444d;
