@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/Futura sv/Futura Std Book.ttf') format('truetype');
}



@font-face {
  font-family: "Futura";
  font-style: bold;
  font-weight: 700;
  src: url('../../assets/fonts/Futura sv/Futura Std Heavy.ttf') format('truetype');
}

